<%-include('../layout/header.ejs') %>

<%-include('../layout/navigation.ejs')%>
<style>
    /* dropdown */
    .dropdown {
      display: inline-block;
      position: relative;
    }

    .dropdown-toggle {
      cursor: pointer;
    }

    .dropdown-menu {
      position: absolute;
      right: 0;
      top: 100%;
      display: none;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      min-width: 100px;
      z-index: 1;
    }

    .dropdown-menu a {
      display: block;
      padding: 10px;
      color: #333;
      text-decoration: none;
    }

    .dropdown-menu a:hover {
      background-color: #f5f5f5;
    }

    .show {
      display: block !important;
    }
</style>

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                <!-- Billing Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Shiping address</h3>
                    </div>
                    <div class="row" style="background-color: rgb(239,239,239); border-radius: 5px; width: 650px;">
                        <div >
                    <form id="checkout-form">
                        <div class="col-md-10" >

                                <% if( address && address.addresses && address.addresses.length>0){%>
                                <% address.addresses.forEach((address)=>{%>

                                <!-- Address Details -->
                                <div class="card mb-3 rounded shadow">
                                    <div style="padding: 5px; margin: 15px; margin-left: 40px;">
                                        <a href="/editCheckoutAddress?id=<%=address._id %>"><button type="button" class="close" aria-label="Edit" style="position: relative; top: 45px; left: 100px;">
                                            <i class="fa fa-pencil"  aria-hidden="true" ></i>
                                        </button></a>
                                        <div class="custom-label p-3 m-2">
                                            <div class="form-check d-flex align-item-center mx-4">
                                                <input class="form-check-input" type="radio" name="address" id="flexRadioDefault" style="position:absolute; top: 65px; left: 30px;" 
                                                value="<%= address.fullName %>, <%= address.city %>,<%= address.state %>,<%= address.country %>,<%= address.pincode %>,<%= address.mobile %>" checked>
                                                <span class="error-message text-danger" id="addressError"></span>
                                                <div class="mx-3 mx-md-5">
                                                    <h6 style="text-transform: uppercase;"><%= address.fullName %></h6>
                                                    <p>
                                                        <%= address.city %>,<br>
                                                        <%= address.state %>,
                                                        <%= address.country %>, <br>
                                                        <%= address.pincode %><br>
                                                        <%= address.mobile %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% });%>

                                <% }else{ %>
                                    <h6 style="padding:10px; margin-top: 5px;">No address fount.</h6>
                                <% } %>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- /Billing Details -->

                <!-- Shiping Details -->
                <!-- <div class="shiping-details">
                    <div class="section-title">
                        <h5 class="title">Add new shipping address</h5>
                    </div>
                    <div class="input-checkbox">
                        <input type="checkbox" id="shiping-address">
                        <label for="shiping-address">
                            <span></span>
                            Ship to a diffrent address?
                        </label>
                        <div class="caption">
                            <form action="/checkoutAddrss" method="post">
                            <div class="form-group">
                                <input class="input" type="text" id="FullName" name="fullName" placeholder="Full name">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" id="city" name="city" placeholder="City">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" id="country" name="country" placeholder="Country">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" id="pinCode" name="pincode" placeholder="ZIP Code">
                            </div>
                            <div class="form-group">
                                <input class="input" type="text" id="state" name="state" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <input class="input" type="tel" id="phone" name="mobile" placeholder="Telephone">
                            </div>
                            <button class="btn btn-danger" type="submit">Submit</button>
                        </form>
                        </div>
                    </div>
                </div> -->
                <!-- /Shiping Details -->

                <!-- Order notes -->
                <!-- <div class="order-notes">
                    <textarea class="input" placeholder="Order Notes"></textarea>
                </div> -->
                <!-- /Order notes -->
            </div>
           
            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Your Order</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUCT</strong></div>
                        <div><strong>TOTAL</strong></div>
                    </div>
                    <div class="order-products">
                        <% products.forEach((data)=>{%>
                        <div class="order-col">
                            <div><%=data.productId.name %></div>
                            <div><%=data.productId.price%></div>
                        </div>
                        <%})%>
                    </div>

                    <!-- coupon details-->
                    <div class="coupon-details">
                        <div class="section-title">
                            <h5 class="title">Have a coupon?</h5>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="coupon-details" onchange="toggleCouponInput()">
                            <label for="coupon-details">
                                <span></span>
                                Enter your code below.
                            </label>
                            <div class="caption" id="couponInputContainer" style="display: none;">
                                <div class="form-group">
                                    <input class="input" type="text" id="code" name="code" placeholder="Enter your coupon">
                                </div>
                                <button id="apply" class="btn btn-primary" onclick="applyCoupon()">Apply</button>
                                <button id="unApply" class="btn btn-danger" onclick="unApplyCoupon()">Unapply</button>
                            </div>
                        </div>
                    </div>
                    <!--end coupon details-->

                    <div class="order-col">
                        <div>Shiping</div>
                        <div><strong>FREE</strong></div>
                    </div>
                    
                    <div class="order-col">
                        <div><strong>TOTAL</strong></div>
                        <div><strong class="order-total" id="total"><%=total%></strong></div>
                    </div>
                <div class="payment-method">
                    <h5>Payment Method</h5>
                    <div class="input-radio">
                        <input type="radio" 
                        name="payment" 
                        id="COD" value="COD">
                        <label for="COD">
                            <span></span>
                            Cash on delivery
                        </label>
                        <div class="caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="payment" id="payment" value="onlinePayment" checked>
                        <label for="payment">
                            <span></span>
                            Online Payment
                        </label>
                        <div class="caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="payment" id="wallet" value="wallet">
                        <label for="wallet">
                            <span></span>
                            Wallet
                        </label>
                        <div class="caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="terms">
                    <label for="terms">
                        <span></span>
                        I've read and accept the <a href="#">terms & conditions</a>
                    </label>
                </div>
                <a href="">
                <button type="submit" class="btn btn-danger btn-order" style="width: 100%; border-radius: 20px;">Place order
                </button>
                    </a>
            </div>
        </form>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
  $(document).ready(function () {
    $("#checkout-form").on("submit", function (e) {
      e.preventDefault();

      console.log('clicked');

      var address = $("input[name='address']:checked").val();
      var total = $("#total").text();
      var payment = $("input[name=payment]:checked").val();

      console.log("buttonClicked");
      console.log('before AJAX request');
      console.log('Selected Address:', address);

      $.ajax({
        type: "POST",
        url: "/placeOrder",
        data: { total: total, address: address, payment: payment },
        success: function (response) {
          console.log('After AJAX request');
          console.log('Total:', total);
          console.log('Address:', address);
          console.log('Payment:', payment);

          if (response.success === true) {
            window.location.href = `/orderPlaced/${response.orderid}`;
          } else if (response.walletFailed == true) {
            swal.fire({
              icon: "error",
              title: "Insufficient Balance In Your Wallet",
              showConfirmButton: false,
              showCancelButton: false,
              timer: 1500,
            });
          } else {
            razorPayment(response.order);
            console.log('Order:', response.order);
          }
        },
      });
    });
  });

  function razorPayment(order) {
    console.log('entered to razorpay', order);

    var options = {
      key: 'rzp_test_2bImS12F9bn0vK',
      amount: order.amount * 100,
      currency: 'INR',
      name: 'Power_Eelectricals',
      description: 'Test Transaction',
      image: '/images/my_Logo.png',
      order_id: order.id,
      handler: function (response) {
        verifyPaymetn(response, order);
        console.log(response);
      },
      prefill: {
        name: 'Customer Name',
        email: 'customer@example.com',
        contact: '1234567890',
      },
      notes: {
        address: order.address,
      },
      theme: {
        color: '#F37254',
      },
    };

    var razorpayInstance = new Razorpay(options);
    razorpayInstance.open();
  }
</script>


<script>
    function toggleCouponInput() {
        var couponInputContainer = document.getElementById('couponInputContainer');
        var checkbox = document.getElementById('coupon-details');

        if (checkbox.checked) {
            couponInputContainer.style.display = 'block';
        } else {
            couponInputContainer.style.display = 'none';
        }
    }

    function applyCoupon() {
        // Implement your apply coupon logic here
    }

    function unApplyCoupon() {
        // Implement your unapply coupon logic here
    }
</script>



<%-include('../layout/footer.ejs') %>